![Los Angeles skyline](la_skyline.jpg)

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [89]:
# Re-run this cell
#Â Import required libraries
import pandas as pd
import datetime as datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", parse_dates=["Date Rptd", "DATE OCC"], dtype={"TIME OCC": str})
crimes.head()

       DR_NO  Date Rptd  ...  Status Desc                                  LOCATION
0  221412410 2022-06-15  ...  Invest Cont  13600    MARINA POINT                 DR
1  220314085 2022-07-22  ...  Invest Cont   2500 S  SYCAMORE                     AV
2  222013040 2022-08-06  ...  Invest Cont   3300    SAN MARINO                   ST
3  220614831 2022-08-18  ...  Invest Cont                         1900    TRANSIENT
4  231207725 2023-02-27  ...  Invest Cont   6200    4TH                          AV

[5 rows x 12 columns]

In [90]:
# Start coding here
# Use as many cells as you need
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247988 entries, 0 to 247987
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         247988 non-null  int64
 1   Date Rptd     247988 non-null  datetime64[ns]
 2   DATE OCC      247988 non-null  datetime64[ns]
 3   TIME OCC      247988 non-null  object
 4   AREA NAME     247988 non-null  object
 5   Crm Cd Desc   247988 non-null  object
 6   Vict Age      247988 non-null  int64
 7   Vict Sex      215740 non-null  object
 8   Vict Descent  215739 non-null  object
 9   Weapon Desc   80087 non-null   object
 10  Status Desc   247988 non-null  object
 11  LOCATION      247988 non-null  object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 22.7+ MB

In [91]:
crimes.describe()

              DR_NO       Vict Age
count  2.479880e+05  247988.000000
mean   2.256571e+08      29.954764
std    5.042345e+06      21.901016
min    2.203000e+03      -2.000000
25%    2.210130e+08       0.000000
50%    2.220131e+08      31.000000
75%    2.310058e+08      45.000000
max    2.399165e+08      99.000000

In [92]:
crimes['hour']=crimes['TIME OCC'].str[:2]

In [93]:
crimes_1 = crimes[['hour','DR_NO']]

In [94]:
crime_hour= crimes_1.groupby('hour',as_index=False).count().sort_values(by=['DR_NO'],ascending =False)

In [95]:
crime_hour.head()

   hour  DR_NO
12   12  17065
18   18  14447
17   17  14107
20   20  13325
19   19  13146

In [96]:
peak_crime_hour=int(crime_hour['hour'].iloc[0])

In [97]:
crimes['hour_timestamp']=pd.to_datetime(crimes['TIME OCC'],format= '%H%M').dt.time

In [98]:
crimes.head()

       DR_NO  Date Rptd  ... hour hour_timestamp
0  221412410 2022-06-15  ...   17       17:00:00
1  220314085 2022-07-22  ...   11       11:10:00
2  222013040 2022-08-06  ...   16       16:20:00
3  220614831 2022-08-18  ...   12       12:00:00
4  231207725 2023-02-27  ...   06       06:35:00

[5 rows x 14 columns]

In [99]:
now = datetime.datetime.now()
now1 = datetime.datetime.now()
crime_2 = crimes[(crimes['hour_timestamp']>=now.replace(hour=22, minute=0, second=0, microsecond=0).time()) |  (crimes['hour_timestamp']<=now1.replace(hour=3, minute=59, second=0, microsecond=0).time())]

In [100]:
crime_2.head()

        DR_NO  Date Rptd  ... hour hour_timestamp
9   231207476 2023-02-27  ...   00       00:01:00
12  221711184 2022-06-15  ...   01       01:55:00
36  221314362 2022-07-11  ...   00       00:01:00
39  231307252 2023-03-03  ...   23       23:05:00
42  221614254 2022-11-13  ...   00       00:01:00

[5 rows x 14 columns]

In [101]:
crime_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51912 entries, 9 to 247977
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DR_NO           51912 non-null  int64
 1   Date Rptd       51912 non-null  datetime64[ns]
 2   DATE OCC        51912 non-null  datetime64[ns]
 3   TIME OCC        51912 non-null  object
 4   AREA NAME       51912 non-null  object
 5   Crm Cd Desc     51912 non-null  object
 6   Vict Age        51912 non-null  int64
 7   Vict Sex        45042 non-null  object
 8   Vict Descent    45042 non-null  object
 9   Weapon Desc     18794 non-null  object
 10  Status Desc     51912 non-null  object
 11  LOCATION        51912 non-null  object
 12  hour            51912 non-null  object
 13  hour_timestamp  51912 non-null  object
dtypes: datetime64[ns](2), int64(2), object(10)
memory usage: 5.9+ MB

In [102]:
crime_area=crime_2[['AREA NAME','DR_NO']]

In [103]:
crime_location=crime_area.groupby('AREA NAME',as_index=False).count().sort_values(by='DR_NO',ascending=False)

In [104]:
peak_night_crime_location=str(crime_location['AREA NAME'].iloc[0])

In [105]:
peak_night_crime_location

'Central'

In [106]:
crime_3 =crimes[['Vict Age','DR_NO']]

In [107]:
#crime_3=crime_3[crime_3['Vict Age']>=0]

In [108]:
crime_3.describe()

            Vict Age         DR_NO
count  247988.000000  2.479880e+05
mean       29.954764  2.256571e+08
std        21.901016  5.042345e+06
min        -2.000000  2.203000e+03
25%         0.000000  2.210130e+08
50%        31.000000  2.220131e+08
75%        45.000000  2.310058e+08
max        99.000000  2.399165e+08

In [109]:
crime_3['bins'] = pd.cut(x=crime_3['Vict Age'], bins=[0, 17, 25, 34, 44, 54,64, np.inf],
                    labels=['0-17', '18-25', '26-34',
                            '35-44', '45-54','55-64', '65+'])

In [110]:
crime_4=crime_3[['Vict Age','bins']]

In [111]:
#crime_4[crime_4['Vict Age']==0]

In [112]:
victim_ages=crime_3['bins'].value_counts()

In [113]:
victim_ages

26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: bins, dtype: int64